[submodule "event-manager-backend"]
	path = event-manager-backend
	url = https://github.com/PedroAbib/event-manager-backend.git
[submodule "event-manager-v2"]
	path = event-manager-v2
	url = https://github.com/PedroAbib/event-manager-v2
